<!DOCTYPE html>
<html>
<head>
<title>Hack Me</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body, html {height: 100%}
.bgimg {
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-color: black;
}
</style>
</head>
<body>

<div class="bgimg w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    ブルートフォース攻撃(Level2)
  </div>
  <div class="w3-display-bottomright w3-padding-large w3-xlarge">
    <a href="/">脆弱性一覧</a>
  </div>
  <div class="w3-display-middle">
    <h1>
      <% if (typeof message !== 'undefined') { %>
        <%= message %>
      <% } %>
    </h1>
  </div>
</div>

</body>
</html>
